
.container{
  background: lightGrey;
  width: max-content;
  margin: auto;
  font-family: monospace;
  
}

.display{
  width: 100%;
  background-color: darkGrey;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  font-size: 26px;
  color: aliceblue;
}

.buttons-row-2 {
  flex: stretch;
  width: 200px;
  font-size: 26px;
  max-width: 400px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.btn-number-C {
  flex-grow: 1;
  background-color: lightGrey;
  color: black;
}

.buttons-row-3 {
  flex: stretch;
  flex-grow: 1;
  width: 200px;
  font-size: 26px;
  max-width: 400px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.buttons-row-4 {
  flex: stretch;
  width: 200px;
  font-size: 26px;
  max-width: 400px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.buttons-row-5 {
  flex: stretch;
  width: 200px;
  font-size: 26px;
  max-width: 400px;
  margin: 5px 0;
  display: flex;
  flex-grow: 3;
  justify-content: space-between;
}
.buttons-row-6 {
  flex: stretch;
  width: 200px;
  font-size: 26px;
  max-width: 400px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.btn-number-0 {
  flex-grow: 1;
}

.display{
  background-color: black;
}

.btn-number {
  background-color:#d8d9db;
}

.btn-operator {
  background-color:orange;
}

.btn-equals {
  background-color:#d8d9db;
}
